In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('Data/50_Startups.csv')

In [3]:
df.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [4]:
df.describe()

           R&D Spend  Administration  Marketing Spend         Profit
count      50.000000       50.000000        50.000000      50.000000
mean    73721.615600   121344.639600    211025.097800  112012.639200
std     45902.256482    28017.802755    122290.310726   40306.180338
min         0.000000    51283.140000         0.000000   14681.400000
25%     39936.370000   103730.875000    129300.132500   90138.902500
50%     73051.080000   122699.795000    212716.240000  107978.190000
75%    101602.800000   144842.180000    299469.085000  139765.977500
max    165349.200000   182645.560000    471784.100000  192261.830000

In [5]:
X = df.iloc[:, :-1]
y = df.iloc[:, -1]

In [6]:
X['State'].value_counts()

California    17
New York      17
Florida       16
Name: State, dtype: int64

In [7]:
State = pd.get_dummies(X['State'], drop_first=True)

In [8]:
X = pd.concat([X,State], axis=1)

In [9]:
X.head()

   R&D Spend  Administration  Marketing Spend       State  Florida  New York
0  165349.20       136897.80        471784.10    New York        0         1
1  162597.70       151377.59        443898.53  California        0         0
2  153441.51       101145.55        407934.54     Florida        1         0
3  144372.41       118671.85        383199.62    New York        0         1
4  142107.34        91391.77        366168.42     Florida        1         0

In [10]:
X.drop('State', axis=1, inplace=True)

In [11]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [12]:
from sklearn.linear_model import LinearRegression

In [13]:
lm = LinearRegression()

In [14]:
lm.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [15]:
prediction = lm.predict(X_test)

In [16]:
for i in range(len(y_test)):
    print(y_test.iloc[i],':', prediction[i])

65200.33 : 63266.613148063254
49490.75 : 63433.81350911384
77798.83 : 76884.86844798105
42559.73 : 45803.10258181632
118474.03 : 119620.76442335456
101004.64 : 97780.26028094062
71498.49 : 72735.67524421652
105008.31 : 116910.39282161048
166187.94 : 172755.28965524642
182901.99 : 172621.04317632067
81005.76 : 85727.28026696846
122776.86 : 107369.80962817118
103282.38 : 99718.7725183141
69758.98 : 57353.994259500556
99937.59 : 97280.77987483809

 R&D Spend = 160000, Administration Spend = 130000, Marketing Spend = 300000 and State = California

In [30]:
pred = lm.predict([[160000,130000,300000,0,0]])

In [31]:
pred

array([181519.61230451])

In [33]:
print(lm.coef_)
print(lm.intercept_)

[ 7.44186480e-01 -3.08230932e-02  5.49313281e-02 -2.73591241e+02
 -2.18816218e+03]
49977.379159758304