In [3]:
import numpy as np
import pandas as pd

In [4]:
arr = np.array([10,20,30])
lables = ['a','b','c']

In [5]:
pd.Series(arr) #pd.Series(data=arr)

0    10
1    20
2    30
dtype: int32

In [6]:
pd.Series(arr,lables) #pd.Series(data=arr, index=lables)

a    10
b    20
c    30
dtype: int32

In [7]:
d = {'a':10, 'b':20, 'c':30}

In [8]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [18]:
pd.Series([arr.sum(), arr[1], len(arr), print])

0                           60
1                           20
2                            3
3    <built-in function print>
dtype: object

In [12]:
len(arr)

3

In [13]:
arr.sum()

60

In [16]:
arr[1]

20

In [20]:
ser1 = pd.Series([1,2,3,4],['USA','Germany','USSR', 'Japan'])

In [21]:
ser2 = pd.Series([1,5,6,7],['USA', 'Italy', 'Japan', 'India'])

In [22]:
ser1 + ser2

Germany     NaN
India       NaN
Italy       NaN
Japan      10.0
USA         2.0
USSR        NaN
dtype: float64

In [23]:
ser2['India']

7